* {
  box-sizing: border-box;
  transition: 200ms;
  margin: 0;
  padding: 0;
}

body {
  font-family: Menlo, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  background-color: whitesmoke;
  text-align: center;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}
span {
  font-size: 30px;
}

h1 {
  width: 100%;
  margin: 0;
}

.done,
.InProgress {
  font-size: 1em;
  width: 30vw;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 12px;
}
.done {
  background-color: rgba(6, 226, 6, 0.607);
}
.InProgress {
  background-color: rgba(255, 255, 0, 0.601);
}
.done li,
.InProgress li {
  font-size: 2em;
  margin: 5px 0;
}
.done h1,
.InProgress h1 {
  padding-bottom: 30px;
}
form {
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 12px;
}

form input,
form button {
  display: block;
  width: 100%;
  padding: 0 20px;
  font-size: 24px;
  height: 50px;
  border-radius: 12px;
  background-color: white;
}

form button:hover {
  cursor: pointer;
}

ul {
  padding: 5px;
}

ul li {
  display: flex;
  justify-content: space-between;
}

ul li:hover {
  cursor: pointer;
}

button.active {
  color: black;
  background-color: white;
}

.tag {
  background-color: white;
  padding: 3px 15px;
  font-size: 18px;
  margin-right: 10px;
  border: none;
  box-shadow: 0 0 10px 2px white;
  border-radius: 12px;
}
#app > div > div {
  text-align: left;
  margin-bottom: 10px;
}
.tag:hover {
  cursor: pointer;
}

button.active {
  background-color: black;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.column {
  padding: 0.5em 0;
}
h1 {
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}
.column .card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
  margin: 20px;
}
.column .card .img-container {
  width: 8em;
  height: 8em;
  background-color: #a993ff;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.column .card img {
  width: 100%;
  border-radius: 50%;
}
.column .card h3 {
  font-weight: 500;
}
.column .card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.column .card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.column .card:hover {
  background: linear-gradient(#6045ea, #8567f7);
}
.column .card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .column .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}
